#content {
    padding-top: 60px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.banner{
    background: url(images/background.jpg) no-repeat ;
    background-size: cover;
    width:100%;
    min-height: 800px;
    position: relative;
}