{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
{#    <link rel="icon" href="../../favicon.ico">#}

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#    <link href="{%static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">#}

    <!-- Custom styles for this template -->
    <link href="{% static 'starter-template.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
{#    <script src="{%static 'js/ie-emulation-modes-warning.js' %}"></script>#}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">All Music Shop</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Каталог<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for i in catalogs %}
                        <li>
                            <a href="{% url 'catalogs' i.id %}"> {{ i.name }} </a>
                        </li>
                    {% endfor %}
                  </ul>
            </li>
            <li><a href="{% url 'news' %}">Новости</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
          </ul>

          <!-- <form class="navbar-form navbar-left hidden-sm hidden-md" action="" method="get" role="search">
            <div class="input-group">
                <input class="form-control" name="query" placeholder="" value="" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form> -->
           <ul class="nav navbar-nav">
               {% if request.user.is_authenticated %}
                   <li><a href="{% url 'logout' %}">Выход</a></li>
                   <li><a>|</a></li>
                   <li><a href="{% url 'profile' pk=user.pk %}">{{ user.first_name }}</a></li>
               {% else %}
                   <li><a href="{% url 'login' %}">Вход</a></li>
                   <li><a>|</a></li>
                   <li><a href="{% url 'registration' %}">Регистрация</a></li>
               {% endif %}
               {% if request.user.is_authenticated and user.is_staff %}
                   <li><a>|</a></li>
                   <li><a href="{% url 'addproduct' %}">Добавить товар</a></li>
               {% endif %}
           </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>

    <div class="banner">

        <div class="container" id="content">

          {% if catalogactive.0.name %}
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  {{ catalogactive.0.name }}
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  {% for i in subcatalogs %}
                      <li><a href="{% url 'subcatalogs' catalogactive.0.id i.id %}"> {{ i.name }} </a></li>
                  {% endfor %}
              </ul>
              {% if subcatalogactive.0.name %}
                  &nbsp; {{ subcatalogactive.0.name }}
              {% endif %}

            </div>
          {% endif %}

          {% block content %}
          {% endblock %}
        </div><!-- /.container -->

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>#}

  </body>
</html>
